{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="max-w-2xl mx-auto my-[60px] p-5 rounded border-4 border-gray-300">
    <form method="post" class="space-y-5">
        {% if error %}
            <div class="text-red-400 bg-red-200 p-2 border-2 border-red-400 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="">
                Vous etes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1 class="text-center text-2xl">Se connecter</h1>
        <div>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="w-full p-2 rounded" autocomplete="email" required autofocus>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="w-full p-2 rounded" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button formnovalidate class="w-full bg-blue-400 p-2 rounded text-center text-white" >
            Se connecter
        </button>
    </form>
</div>
{% endblock %}
